# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
/.idea/
/.well-known/acme-challenge/
/config/
/config/.config.php
/config/.malio_config.php
/config/18.bak
/public/
/storage/*.renew
/storage/*.offline
/storage/*.ex*
/storage/paytaro.log
/storage/qqwry.dat
/storage/framework/smarty/compile/*.php
/vendor/
/.user.ini
/404.html
/delchache.sh
/storage/qqwry.dat.bak
/.htaccess
/cron.sh
/csm.sh
/index.html
/job.log
/job.sh
/mail.log
/nginx.htaccess
/README-sspanel.md
/sendmail.sh
/xcat1
